:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
}

.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(var(--background));
}

body * {
    color: hsl(var(--foreground));
    font-family: "Inter", sans-serif;
}

body a {
    text-decoration: none;
}

body a:hover {
    color: hsl(var(--primary));
    text-decoration: underline;
}

#container {
    width: 360px;
    margin: 56px auto 0;
}

/* Profile */

#profile {
    text-align: center;
    padding: 24px 24px 32px;
}

#profile img {
    width: 120px;
    border-radius: 9999px;
}

#profile h1 {
    margin: 8px 0 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#profile p {
    color: hsl(var(--muted-foreground));
    font-size: 14px;
    line-height: 24px;
}

/* Links */

#links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    list-style: none;
}

#links .highlight {
    background: hsl(var(--accent));
}

#links .highlight:hover {
    background: hsl(var(--accent));
}

#links a {
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    display: block;
    padding: 16px;
    text-decoration: none;
}

#links a:hover {
    background: hsl(var(--input));
}

#links h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#links p {
    color: hsl(var(--muted-foreground));
    font-size: 14px;
    line-height: 24px;
}

/* Social */

#social ul {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style: none;
}

#social ion-icon {
    font-size: 24px;
    color: hsl(var(--muted-foreground));
}

#social a {
    border: 1px solid hsl(var(--border));
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-decoration: none;
}

#social a:hover {
    background: hsl(var(--input));
}

#social a:hover ion-icon {
    color: hsl(var(--primary));
}

/* Theme Toggle */

#theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    border: 1px solid hsl(var(--border));
    padding: 8px;
    background: none;
    border-radius: var(--radius);
}

#theme-toggle ion-icon[name="moon-outline"] {
    display: block
}

#theme-toggle ion-icon[name="sunny-outline"] {
    display: none
}

.dark #theme-toggle ion-icon[name="moon-outline"] {
    display: none
}

.dark #theme-toggle ion-icon[name="sunny-outline"] {
    display: block
}

#theme-toggle ion-icon {
    font-size: 24px;
    color: hsl(var(--muted-foreground));
}

#theme-toggle:hover ion-icon {
    color: hsl(var(--primary));
}